.mainContent{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #000;
    opacity: 0.3;
    width: 70%;
    height: 60%;
}

h1{
    text-indent: 101px;
}

small{
    color:white!important;
}


